@using Smart_Invoice.Models;
@model Smart_Invoice.Models.UtilityInvoice;


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Invoice</h4>
<hr />
<div class="row">
  <!-- Column 1 content -->
  <div class="column" style="width:40%">
    <img src="data:image/png;base64,@ViewBag.Base64Image" width="100%"/>

  </div>

  <!-- Column 2 content -->
  <div class="column" style="width:50%">
      <form method="post">
          @Html.AntiForgeryToken()
        @foreach (var item in typeof(UtilityInvoice).GetProperties())
        {
            if (!item.Name.Equals("Id") && !item.Name.Equals("Company_Id") )
            {
                <div class="form-floating" style="margin-bottom:0.5em">
                <input class="form-control" id="@item.Name" name="@item.Name" aria-required="true" value="@item.GetValue(Model)" required/>
                
                <label>@item.Name</label>
                
            </div>
            }
            
        }
        <script>
            if(@ViewBag.Company_License_Registration_Number != null){
                document.getElementById("Company_License_Registration_Number").value = @ViewBag.Company_License_Registration_Number;
                document.getElementById("Company_License_Registration_Number").readOnly = true;
                document.getElementById("Incoive_Companay").readOnly = true;

            }

        </script>
        <button class="btn btn-success" type="submit">Submit</button>
        </form>
      
   
  </div>
</div>
@*
    TODO: add zoom button using scale
    TODO: add Rotate button using transform: rotate(90deg)
*@
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExchangeRate" class="control-label"></label>
                <input asp-for="ExchangeRate" class="form-control" />
                <span asp-validation-for="ExchangeRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EffectiveDate" class="control-label"></label>
                <input asp-for="EffectiveDate" class="form-control" />
                <span asp-validation-for="EffectiveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxPercentage" class="control-label"></label>
                <input asp-for="TaxPercentage" class="form-control" />
                <span asp-validation-for="TaxPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxTotal" class="control-label"></label>
                <input asp-for="TaxTotal" class="form-control" />
                <span asp-validation-for="TaxTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

