@using Microsoft.AspNetCore.Mvc.ModelBinding;
@using Smart_Invoice.Models;
@using Smart_Invoice.Models.Invoices;
@model InvoiceViewModel;

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Invoice</h4>
<hr />
<div class="row">
  <!-- Column 1 content -->
  <div class="column" style="width:40%">
    <img src="data:image/png;base64,@ViewBag.Base64Image" width="100%"/>

  </div>

  <!-- Column 2 content -->
  <div class="column" style="width:50%">
      @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger" role="alert">
                @Html.ValidationSummary(true)
            </div>
        }
        <form method="post">
        @Html.AntiForgeryToken()
            @if (Model.ProductInvoice != null)
            {
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Company_Name" 
                    name="Company.Company_Name" aria-required="true" 
                    value="@Model.ProductInvoice.Company.Company_Name" required/>
                    <label>Company Name</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Invoice_Number" 
                    name="Invoice_Number" aria-required="true" 
                    value="@Model.ProductInvoice.Invoice_Number" required/>
                    <label>Invoice Number</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Invoice_Date" 
                    name="Invoice_Date" aria-required="true" 
                    value="@Model.ProductInvoice.Invoice_Date" required/>
                    <label>Invoice Date</label>
                </div>


                <p>Items</p>
                <hr />
                    @if (true)
                    {
                        var i = 0;
                        foreach (var product in Model.ProductInvoice.Items)
                        {
                            
                                <div class="row g-3">
                                <div class="form-floating" style="margin-bottom:0.5em">
                                    <input class="form-control" id="Product @product.Name" name="Product @i" aria-required="true" value="@product.Name" required/>
                                    <label>Product Name</label>
                                </div>
                                <div class="form-floating col-md-4" style="margin-bottom:0.5em">
                                    <input class="form-control " id="Unit @i" name="Unit @i" aria-required="true" value="@product.Unit" required/>
                                    <label>Unit</label>
                                </div>
                                <div class="form-floating col-md-4" style="margin-bottom:0.5em">
                                    <input class="form-control" id="UnitPrice @i" name="UnitPrice @i" aria-required="true" value="@product.UnitPrice" required/>
                                    <label>Unit Price</label>
                                </div>
                                <div class="form-floating col-md-4" style="margin-bottom:0.5em">
                                    <input class="form-control" id="Quantity @i" name="Quantity @i" aria-required="true" value="@product.Quantity" required/>
                                    <label>Quantity</label>
                                </div>
                                <div class="form-floating has-validation" style="margin-bottom:0.5em">
                                    <input class="form-control" id="Total @i" name="Total @i" aria-required="true" value="@product.Total" required/>
                                    <label>Total</label>
                                    <div class="invalid-tooltip"> Check the prices again</div>
                                </div>
                                </div>
                            
                            <hr />
                            i++;
                        }
                    }
                        
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Subtotal" 
                    name="Subtotal" aria-required="true" 
                    value="@Model.ProductInvoice.Subtotal" required/>
                    <label>Invoice SubTotal</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Tax" 
                    name="Tax" aria-required="true" 
                    value="@Model.ProductInvoice.Tax" required/>
                    <label>Invoice TAX</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Total" 
                name="Total" aria-required="true" 
                value="@Model.ProductInvoice.Total" required/>
                <label>Invoice Total</label>
                </div>
            }
            else
            {
                <p>sad</p>
            }
            <p id="demo"></p>
            

            @if (Model.UtilityInvoice != null)
            {
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Company_Name" 
                    name="Company.Company_Name" aria-required="true" 
                    value="@Model.UtilityInvoice.Company.Company_Name" required/>
                    <label>Company Name</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Invoice_Number" 
                    name="Invoice_Number" aria-required="true" 
                    value="@Model.UtilityInvoice.Invoice_Number" required/>
                    <label>Invoice Number</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Invoice_Date" 
                    name="Invoice_Date" aria-required="true" 
                    value="@Model.UtilityInvoice.Invoice_Date" required/>
                    <label>Invoice Date</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Service_Number" 
                    name="Service_Number" aria-required="true" 
                    value="@Model.UtilityInvoice.Service_Number" required/>
                    <label>Serice Number</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Meter_Number" 
                    name="Meter_Number" aria-required="true" 
                    value="@Model.UtilityInvoice.Meter_Number" required/>
                    <label>Meter Number</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Previous_Reading_Date" 
                    name="Previous_Reading_Date" aria-required="true" 
                    value="@Model.UtilityInvoice.Previous_Reading_Date" required/>
                    <label>Previous Reading Date</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Current_Reading" 
                    name="Current_Reading" aria-required="true" 
                    value="@Model.UtilityInvoice.Current_Reading" required/>
                    <label>Current Reading</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Category" 
                    name="Category" aria-required="true" 
                    value="@Model.UtilityInvoice.Category" required/>
                    <label>Category</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Previous_Debt" 
                    name="Previous_Debt" aria-required="true" 
                    value="@Model.UtilityInvoice.Previous_Debt" required/>
                    <label>Previous Debt</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Subtotal" 
                    name="Subtotal" aria-required="true" 
                    value="@Model.UtilityInvoice.Subtotal" required/>
                    <label>Invoice SubTotal</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Tax" 
                    name="Tax" aria-required="true" 
                    value="@Model.UtilityInvoice.Tax" required/>
                    <label>Invoice TAX</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Total" 
                name="Total" aria-required="true" 
                value="@Model.UtilityInvoice.Total" required/>
                <label>Invoice Total</label>
                </div>

            }
            
        <script>
            if(@ViewBag.Company_License_Registration_Number != null){
                document.getElementById("Company_License_Registration_Number").value = @ViewBag.Company_License_Registration_Number;
                document.getElementById("Company_License_Registration_Number").readOnly = true;
                document.getElementById("Incoive_Companay").readOnly = true;

            }
               
                
            

        </script>

        <button class="btn btn-success" type="submit">Submit</button>
        </form>
      
   
  </div>
</div>
<script>
    @{
        if(ViewBag.Valid != null){
        var valid = ViewBag.Valid;
        foreach (var item in valid)
        {
            if (item.Equals("Items"))
            {
                <text>var elements = document.querySelectorAll('[id*= "Total"]');
                for (var i = 0;  elements.length > i; i++) {
                  elements[i].classList.add('is-valid');
                }
                var elements = document.querySelectorAll('[id*= "Unit"]');
                for (var i = 0;elements.length > i; i++) {
                  elements[i].classList.add('is-valid');
                }
                var elements = document.querySelectorAll('[id*= "Product"]');
                for (var i = 0; elements.length > i; i++) {
                  elements[i].classList.add('is-valid');
                }
                var elements = document.querySelectorAll('[id*= "Quantity"]');
                for (var i = 0; elements.length > i; i++) {
                  elements[i].classList.add('is-valid');
                }
                </text>

            }
            else
            {
                <text>document.getElementById('@item').classList.add('is-valid');</text>

            }

        }
        var inValid = ViewBag.inValid;
        foreach (var item1 in inValid)
        {
            if (item1.Equals("Items"))
            {
                <text>var elements = document.querySelectorAll('[id*= "Total"]');
                for (var i = 0; elements.length > i; i++) {
                  elements[i].classList.add('is-invalid');
                }
                var elements = document.querySelectorAll('[id*= "Unit"]');
                for (var i = 0; elements.length > i; i++) {
                  elements[i].classList.add('is-invalid');
                }
                var elements = document.querySelectorAll('[id*= "Product"]');
                for (var i = 0; elements.length > i; i++) {
                  elements[i].classList.add('is-invalid');
                }
                var elements = document.querySelectorAll('[id*= "Quantity"]');
                for (var i = 0; elements.length > i; i++) {
                  elements[i].classList.add('is-invalid');
                }
                </text>
                
            }
            else
            {
                <text>document.getElementById('@item1').classList.add('is-invalid');</text>
            }

        }
    }
    }
</script>
@*
    TODO: add zoom button using scale
    TODO: add Rotate button using transform: rotate(90deg)
*@
<div>
    <a asp-action="Index">Back to List</a>
</div>

