@using Microsoft.AspNetCore.Mvc.ModelBinding;
@using Newtonsoft.Json;
@using Smart_Invoice.Models;
@using Smart_Invoice.Models.Invoices;
@using Smart_Invoice.Models.Products;
@using Smart_Invoice;
@model InvoiceViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Invoice</h4>
<hr />

<div class="row">
  <!-- Column 1 content -->
  <div class="column" style="width:40%">
    <img src="data:image/png;base64,@ViewBag.Base64Image" width="100%"/>

  </div>

  <!-- Column 2 content -->
  <div class="column" style="width:50%">
      @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger" role="alert">
                @Html.ValidationSummary(true)
            </div>
        }
        <form method="post" id="EditForm" novalidate>
        @Html.AntiForgeryToken()
            @if (Model.ProductInvoice != null)
            {
                <div class="row">
                    <div class="form-floating col-md-6" style="margin-bottom:0.5em">
                        <select class="form-select" id="Company_Name" 
                        name="Company.Company_Name" aria-required="true" asp-items="ViewBag.Companies"
                        required></select>
                        <label>Company Name</label>

                    </div>
                    <button class="btn btn-primary add-company-btn col-md-2" id="@Model.ProductInvoice.Company.Company_Name">Create Company</button>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Invoice_Number" 
                    name="Invoice_Number" aria-required="true" 
                    value="@Model.ProductInvoice.Invoice_Number" required/>
                    <label>Invoice Number</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Invoice_Date" 
                    name="Invoice_Date" aria-required="true" 
                    value="@Model.ProductInvoice.Invoice_Date" required/>
                    <label>Invoice Date</label>
                </div>


                <p>Items</p>
                <hr />
                    @if (true)
                    {
                        var i = 0;
                        foreach (var product in Model.ProductInvoice.Items)
                        {
                        var productMatch = Model.ProductMatches.Where(p => p.Product.Equals(product.Name)).FirstOrDefault();
                        
                            <div class="row g-3">

                                @{
                                    if (productMatch != null && productMatch.Invoiceproduct != null)
                                    {
                                        <div class="form-floating has-validation" style="margin-bottom:0.5em">
                                            <input class="form-control is-valid" id="Product @product.Name" name="Product @i" aria-required="true" value="@productMatch.Invoiceproduct.Name" readonly required/>
                                            <label>Product Name</label>
                                        </div>
                                    }
                                    else
                                    {
                                        <span id="NotFound @product.Name" class="text-danger">No Item was found! please select from the list or create new item</span>
                                        <div class="form-floating col-md-6" style="margin-bottom:0.5em; margin-right:150px">
                                            <select id="Product @product.Name" name="Product @i" data-item-id="@product.Name" class ="form-select  border-danger " asp-items="ViewBag.select" required >
                                                <option value="" disabled selected>@product.Name</option>
                                            </select>
                                            <label>Product Name</label>
                                            <div class="invalid-feedback">Please choose a Product or add new .</div>
                                        </div>
                                        <button class="btn btn-primary add-product-btn col-md-2" id="@product.Name" data-item-id="@product.Name">Add Product</button>



                                    }
                                }

                                <div class="form-floating col-md-4" style="margin-bottom:0.5em">
                                    <input class="form-control " id="Unit @i" name="Unit @i" aria-required="true" value="@product.Unit" required/>
                                    <label>Unit</label>
                                </div>
                                <div class="form-floating col-md-4" style="margin-bottom:0.5em">
                                    <input class="form-control" id="UnitPrice @i" name="UnitPrice @i" aria-required="true" value="@product.UnitPrice" required/>
                                    <label>Unit Price</label>
                                </div>
                                <div class="form-floating col-md-4" style="margin-bottom:0.5em">
                                    <input class="form-control" id="Quantity @i" name="Quantity @i" aria-required="true" value="@product.Quantity" required/>
                                    <label>Quantity</label>
                                </div>
                                <div class="form-floating has-validation" style="margin-bottom:0.5em">
                                    <input class="form-control" id="Total @i" name="Total @i" aria-required="true" value="@product.Total" required/>
                                    <label>Total</label>
                                    <div class="invalid-tooltip"> Check the prices again</div>
                                </div>
                            </div>
                            <hr />
                            i++;
                        }
                    }
                   
                    
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Subtotal" 
                    name="Subtotal" aria-required="true" 
                    value="@Model.ProductInvoice.Subtotal" required/>
                    <label>Invoice SubTotal</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Tax" 
                    name="Tax" aria-required="true" 
                    value="@Model.ProductInvoice.Tax" required/>
                    <label>Invoice TAX</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Total" 
                name="Total" aria-required="true" 
                value="@Model.ProductInvoice.Total" required/>
                <label>Invoice Total</label>
                </div>
            }


            @if (Model.UtilityInvoice != null)
            {
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Company_Name" 
                    name="Company.Company_Name" aria-required="true" 
                    value="@Model.UtilityInvoice.Company.Company_Name" required/>
                    <label>Company Name</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Invoice_Number" 
                    name="Invoice_Number" aria-required="true" 
                    value="@Model.UtilityInvoice.Invoice_Number" required/>
                    <label>Invoice Number</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Invoice_Date" 
                    name="Invoice_Date" aria-required="true" 
                    value="@Model.UtilityInvoice.Invoice_Date" required/>
                    <label>Invoice Date</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Service_Number" 
                    name="Service_Number" aria-required="true" 
                    value="@Model.UtilityInvoice.Service_Number" required/>
                    <label>Serice Number</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Meter_Number" 
                    name="Meter_Number" aria-required="true" 
                    value="@Model.UtilityInvoice.Meter_Number" required/>
                    <label>Meter Number</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Previous_Reading_Date" 
                    name="Previous_Reading_Date" aria-required="true" 
                    value="@Model.UtilityInvoice.Previous_Reading_Date" required/>
                    <label>Previous Reading Date</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Current_Reading" 
                    name="Current_Reading" aria-required="true" 
                    value="@Model.UtilityInvoice.Current_Reading" required/>
                    <label>Current Reading</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Category" 
                    name="Category" aria-required="true" 
                    value="@Model.UtilityInvoice.Category" required/>
                    <label>Category</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Previous_Debt" 
                    name="Previous_Debt" aria-required="true" 
                    value="@Model.UtilityInvoice.Previous_Debt" required/>
                    <label>Previous Debt</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Subtotal" 
                    name="Subtotal" aria-required="true" 
                    value="@Model.UtilityInvoice.Subtotal" required/>
                    <label>Invoice SubTotal</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Tax" 
                    name="Tax" aria-required="true" 
                    value="@Model.UtilityInvoice.Tax" required/>
                    <label>Invoice TAX</label>
                </div>
                <div class="form-floating" style="margin-bottom:0.5em">
                    <input class="form-control" id="Total" 
                name="Total" aria-required="true" 
                value="@Model.UtilityInvoice.Total" required/>
                <label>Invoice Total</label>
                </div>

            }
            
        <script>
            if(@ViewBag.Company_License_Registration_Number != null){
                document.getElementById("Company_License_Registration_Number").value = @ViewBag.Company_License_Registration_Number;
                document.getElementById("Company_License_Registration_Number").readOnly = true;
                document.getElementById("Incoive_Companay").readOnly = true;

            }
               
                
            

        </script>

        <button class="btn btn-success" type="submit">Submit</button>
        </form>
      
   
  </div>
  
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Create new Product</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closePopUp(this)"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
          @Html.Partial("_CreateProduct", new Smart_Invoice.Models.Products.Product())
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="CreateCompany" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Create new Company</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closePopUp(this)"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
          @Html.PartialAsync("CreateCompanyPartial", new Smart_Invoice.Models.Company())
      </div>
    </div>
  </div>
</div>
@*
    TODO: add zoom button using scale
    TODO: add Rotate button using transform: rotate(90deg)
*@

<script>
    var viewModel = @Model;
</script>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/js/Invoices/EditScript.js"></script>

