@using Newtonsoft.Json;
@using Smart_Invoice.Models.Invoices;
@using Smart_Invoice.Utility;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<Invoice>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if(TempData["Toastr"] != null)
    {
        
        Toastr Error = JsonConvert.DeserializeObject<Toastr>(TempData["Toastr"].ToString());
       
        <script>
            toastr["@Error.ToastType"]("@Error.ToastMessage");
        </script>
        
        TempData["Toastr"] = null ;
    }
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="Invoices">
    <thead class="card-header">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company.Company_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Date)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
           
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Company_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invoice_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invoice_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
          
         
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>

<script>
    
$(document).ready(function () {
    $("#Invoices").DataTable({
        select: true,
        buttons: [
        { extend: 'create', editor: myEditor },
        { extend: 'edit',   editor: myEditor },
        { extend: 'remove', editor: myEditor }
    ]
    });
})
</script>
